body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
	background-color: #469dd4;
    background-image: url("bg.jpg");
    background-size: cover;
}

.box{
	padding: 5px;
	margin: 5px;
	background-color: #333333;
    opacity: 85%;
}

.box h1, .box h2, .box p, .box a, .box canvas{
	margin: 10px;
}

.hbox{
    display: inline-block;
    padding: 5px;
}

.project{
    display: inline-block;
    padding: 5px;
    width: 20%;
}

.project img {
    width: 100%;
}

.nav ul{
  list-style-type: none;
  overflow: hidden;
  margin: 2px 8px;
  padding: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  text-align: left;
  padding: 6px 24px 6px 6px;
  margin: 0;
  text-decoration: none;
  color: #898989;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  background-color: #d0d0d0;
  color: #469dd4;
}